h1, footer {
  text-align: center;
}

main {
  /*width: 50vw;*/
  width: 96vw;
  margin: 0 auto;
}

main fieldset {
  /*width: 30vw;*/
  width: 60vw;
  margin: 0 auto;
}

@media screen and (min-aspect-ratio: 1 / 1) and (min-width: 1281px) {
  main {
    width: 50vw !important;
  }
  main fieldset {
    width: 30vw !important;
  }
}
